Unreal/Tank/tank/Saved/
Unreal/Tank/tank/Binaries/
Unreal/Tank/tank/.vs/
Unreal/Tank/tank/Intermediate/AssetRegistryCache/
Unreal/Tank/tank/Intermediate/Build/
Unreal/Tank/tank/Intermediate/Config/
Unreal/Tank/tank/Intermediate/ReimportCache/
Unreal/Tank/tank/Intermediate/CachedAssetRegistry.bin
*.filters
*.user
MultiThreadRender/MultiThreadRender/.vs/
MultiThreadRender/MultiThreadRender/MultiThreadRender/x64/
MultiThreadRender/MultiThreadRender/x64/Debug/MultiThreadRender.exe
MultiThreadRender/MultiThreadRender/x64/
